.container_skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container_skills .card_skill {
  width: 24%;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10;
  border: 1px solid var(--color-bg-variant);
  border-radius: 12px;
  margin-bottom: 20px;
}

.container_skills .card_skill img {
  width: 65px;
  height: 50px;
  padding: 7px;
  margin: 7px;
  object-fit: fill;
  background-color: var(--color-bg-variant);
  border-radius: 10px;
}

.container_skills .card_skill h4 {
  font-size: 16px;
}

.container_skills .card_skill p {
  font-size: 14px;
}

@media (max-width: 1024px) {
  .container_skills .card_skill {
    width: 48%;
  }
}

@media (max-width: 600px) {
  .container_skills .card_skill {
    width: 49%;
  }
  .container_skills .card_skill .icon {
    height: 30px;
    padding: 5px;
  }
  .container_skills .card_skill h4 {
    font-size: 13px;
  }

  .container_skills .card_skill p {
    font-size: 10px;
  }
}
