.about_me *{
    margin-top: 2rem;
}
.about_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.about_card{
    background-color: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}
.about_card:hover{
    background-color: transparent;
    border-color: var(--color-bg-variant);
}
.about_card small{
    font-size: 0.7rem;
    color: var(--color-light);
}

.about_icon{
    font-size: 30px;
}

/*responsive*/

@media (max-width: 600px) {
    .about_me *{
        margin-top: 1rem;
    }
    .about_card{
        padding: 1rem;
    }
}
