.home {
  min-height: 100dvh;
  height: auto;
  padding-top: 80px;
  overflow: hidden;
  position: relative;
}

.home-container {
  text-align: center;
  min-height: 100%;
  position: relative;
}

.btns {
  display: flex;
  gap: 1.2rem;
  margin-top: 2rem;
  justify-content: center;
}

.home-container h4 {
  font-size: 1.5rem;
}

.home-container .me {
  width: 330px;
  height: 300px;
  background: linear-gradient(var(--color-primary), transparent);
  border-radius: 12rem 12rem 0 0;
  margin: 30px auto;
}

.scrol_down {
  position: absolute;
  right: -35px;
  bottom: 30px;
  transform: rotate(90deg);
  font-weight: 300;
}

.home_socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  gap: 0.7rem;
}

.home_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}
.home_socials a {
  font-size: 25px;
}

@media (max-width: 1024px) {
  .home {
    height: auto;
    min-height: 100dvh;
  }

  .home-container{
    min-height: 100%;
  }
}

@media (max-width: 600px) {
  .home {
    min-height: 100svh;
  }
  .home_socials,
  .scrol_down {
    display: none;
  }
  .home-container h4 {
    font-size: 1rem;
  }
  .home-container h1 {
    font-size: 2rem;
  }
  .home-container .me {
    max-width: 100%;
    width: 300px;
    height: 380px;
  }
}
