.contact_container{
    width: 60%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact_container form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact_container form input, .contact_container form textarea{
    background: transparent;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact_option:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.contact_option svg{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.contact_option a{
    font-size: 0.8rem;
    margin-top: 0.7rem;
    display: inline-block;
}

/*responsive*/

@media (max-width: 1024px) {
  .contact_container{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .contact_container{
    width: 90%;
  }
}