nav{
    background: rgb(0, 0,0, 0.3);
    width: max-content;
    display: block;
    padding: 10px 20px;
    z-index: 10;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1rem;
    display: flex;
}
nav a.active{
    background: var(--color-primary);
    color: var(--color-white)
}
nav a:hover{
    background-color: rgb(0, 0,0, 0.3);
    
}


